{% extends 'base.html' %}

{% block title %}
    LuckyDraw
{% endblock %}

{% block content %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="max-width: 700px;">
    <h1 class="display-4">Let's eat {{ restaurant['name'] }} for {{ now|meal }}</h1>
    <p class="lead">{{ restaurant['description'] }}</p>
    <a href="{{ restaurant['site_url'] }}" class="btn btn-lg btn-outline-primary">Visit Site</a>
    <a href="/" class="btn btn-lg btn-primary">Try Again!</a>
</div>
{% endblock %}